<%= form_for(@document) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new document..." %>
  </div>
  <%= f.submit "Post", class: "ui-btn" %>
<% end %>