<li>
  <span class="content"><%= document.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(document.created_at) %> ago.
  </span>
  <% if current_user?(document.user) %>
    <%= link_to "delete", document, method: :delete, data: { confirm: "You sure?" }, title: document.content %>
  <% end %>
</li>